<?xml version="1.0"?>
<config>
    <modules>
        <Wemage_Azpay>
            <version>1.0.0</version>
        </Wemage_Azpay>
    </modules>
    <global>
        <fieldsets>
            <sales_convert_quote_payment>
                <installments>
                    <to_order_payment>*</to_order_payment>
                </installments>
                <installment_description>
                    <to_order_payment>*</to_order_payment>
                </installment_description>
            </sales_convert_quote_payment>
        </fieldsets>
        <models>
            <azpay>
                <class>Wemage_Azpay_Model</class>
            </azpay>
        </models>
        <resources>
            <azpay_setup>
                <setup>
                    <module>Wemage_Azpay</module>
                    <class>Mage_Sales_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </azpay_setup>
            <azpay_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </azpay_write>
            <azpay_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </azpay_read>
        </resources>
        <helpers>
            <azpay>
                <class>Wemage_Azpay_Helper</class>
            </azpay>
        </helpers>
        <blocks>
            <azpay>
                <class>Wemage_Azpay_Block</class>
            </azpay>
        </blocks>
    </global>
    <frontend>
        <routers>
            <azpay>
                <use>standard</use>
                <args>
                    <module>Wemage_Azpay</module>
                    <frontName>azpay</frontName>
                </args>
            </azpay>
        </routers>
        <layout>
            <updates>
                <azpay>
                    <file>azpay.xml</file>
                </azpay>
            </updates>
        </layout>
        <translate>
            <modules>
                <Wemage_Azpay>
                    <files>
                        <default>Wemage_Azpay.csv</default>
                    </files>
                </Wemage_Azpay>
            </modules>
        </translate>
    </frontend>
    <default>
        <payment>
            <azpay_boleto>
                <active>0</active>
                <title>AzPay Lite - Boleto Bancário</title>
                <model>azpay/boleto</model>
                <payment_action>_place</payment_action>
                <days_to_expire>5</days_to_expire>
                <allowspecific>0</allowspecific>
                <sort_order>1</sort_order>
                <group>azpay</group>
            </azpay_boleto>
            <azpay_cc>
                <active>0</active>
                <title>AZPay Lite - Cartão de Crédito</title>
                <model>azpay/cc</model>
                <payment_action>_place</payment_action>
                <allowspecific>0</allowspecific>
                <sort_order>2</sort_order>
                <group>azpay</group>
            </azpay_cc>
        </payment>
    </default>
</config>
