.azpay-payment-icons li { background: url(../images/icons.png) no-repeat; margin: 0 !important; width: 51px; height: 32px; display: inline-block; }
.azpay-payment-icons li span { display: none; }
.azpay-payment-icons li.amex { background-position: -51px 0; }
.azpay-payment-icons li.visa { background-position: -51px -32px; }
.azpay-payment-icons li.mastercard { background-position: -51px -64px; }
.azpay-payment-icons li.elo { background-position: -51px -96px; }
.azpay-payment-icons li.hipercard { background-position: -51px -128px; }
.azpay-payment-icons li.dinners { background-position: -51px -160px; }
.azpay-payment-icons li.discover { background-position: -51px -192px; }
.azpay-payment-icons li.aura { background-position: -51px -224px; }
.azpay-payment-icons li.jcb { background-position: -51px -256px; }
.azpay-payment-icons li.boleto { background-position: -51px -288px; }
.azpay-payment-icons li.amex.on { background-position: 0 0; }
.azpay-payment-icons li.visa.on { background-position: 0 -32px; }
.azpay-payment-icons li.mastercard.on { background-position: 0 -64px; }
.azpay-payment-icons li.elo.on { background-position: 0 -96px; }
.azpay-payment-icons li.hipercard.on { background-position: 0 -128px; }
.azpay-payment-icons li.dinners.on { background-position: 0 -160px; }
.azpay-payment-icons li.discover.on { background-position: 0 -192px; }
.azpay-payment-icons li.aura.on { background-position: 0 -224px; }
.azpay-payment-icons li.jcb.on { background-position: 0 -256px; }
.azpay-payment-icons li.boleto.on { background-position: 0 -288px; }
.azpay-cvv { position: relative; }
.azpay-cvv input.cvv { width: 4em !important; }
.azpay-cvv-tool-tip { position: absolute; display: inline-block; right: -50px; top: 0; }
.azpay-cvv-tool-tip:hover .azpay-cvv-image, .azpay-cvv-tool-tip:hover .azpay-cvv-tool-tip-arrow { display: block; }
.azpay-cvv-tool-tip-arrow { display: none; position: absolute; top: -10px; left: 16px; background: url(../images/arrow_down.gif) no-repeat; width: 17px; height: 9px; z-index: 101px; }
.azpay-cvv-icon { cursor: pointer; }
.azpay-cvv-image { display: none; background: #fff; border: 1px solid #ccc; padding: 10px; position: absolute; top: -235px; z-index: 100px; }
.azpay-cc-expr-month { width: 68px; margin-right: 0 !important; }
.azpay-cc-expr-month select.month { width: 64px !important; margin-right: 0 !important; }
.azpay-cc-expr-year select.year { width: 72px !important; }
#advice-validate-azpay-cc-exp-azpay_cc_expiration { white-space: nowrap; }
#advice-validate-azpay-cc-cvn-azpay_cc_cc_cid { white-space: nowrap; }
